<!-- App Top Bar -->
<app-top-bar></app-top-bar>

<div class="min-h-100">
    <mat-list *ngFor="let example of data">
        <!-- Examples -->
        <h3>{{example.id}}: {{example.title}}</h3>
        <p *ngIf="example.description">{{example.description}}</p>
        <mat-divider></mat-divider>
    </mat-list>

    <span *ngIf="!data">
        <p class="mat-body error-placeholder mt-4">
            It doesn't look like there's anything here.<br>
            Try following some more active accounts?
        </p>
    </span>
</div>

<!-- App Botttom Bar -->
<app-bottom-bar></app-bottom-bar>
